{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <!-- <h1 data-module="example">{{ message }}</h1> -->
  {% include "partials/header.html"%}
  {% include "partials/problem.html"%}
  {% include "partials/key-factors.html"%}
  {% include "partials/question.html"%}
  <!-- {% include "partials/concept.html"%} -->
  {% include "partials/behind-the-scenes.html"%}
  {% include "partials/closing.html"%}
  {% include "partials/footer.html"%}
{% endblock %}
