{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <!-- <h1 data-module="example">{{ message }}</h1> -->
  {% include "partials/header.html"%}
  {% include "partials/the-problem.html"%}
  {% include "partials/key-factors.html"%}
  {% include "partials/the-question.html"%}
  {% include "partials/the-concept.html"%}
  {% include "partials/behind-the-scenes.html"%}
  {% include "partials/in-closing.html"%}
  {% include "partials/footer.html"%}
{% endblock %}
