.behind-scenes-section {
  background-color: color(mint-green);
  padding-top: rem(85);
  padding-bottom: rem(50);
  position: relative;
  z-index: 0;
}

.behind-scenes-section__diagram {
  background-image: url('../../images/Florence_NoCape-01.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: rem(255);
  width: rem(155);
  position: absolute;
  z-index: -1;
  margin: auto;
  left: 0;
  right: 0;

  @media (screen(lg)) {
    background-size: rem(350);
    height: rem(800);
    margin: rem(-40) auto auto;
    width: rem(1000);
  }

  .-book {
    top: 3%;
    left: 20%;
  }

  .-gear {
    top: 13%;
    left: 69%;
  }

  .-comment {
    top: 29%;
    left: 17%;
  }

  .-heart {
    top: 49%;
    left: 62%;
  }

  .-link {
    top: 66%;
    left: 5%;
  }
}
