.closing-section {
  background-color: color(mint-green);
  margin: 0;
  padding-bottom: rem(15);

  @media (screen(lg)) {
    padding-bottom: rem(150);
    padding-top: rem(85);
  }

  .sm-sans-serif-text {
    color: color(emerald-green);
    margin-bottom: rem(25);

    @media (screen(lg)) {
      text-align: left;
    }
  }

  .closing-section__figure {
    display: none;

    @media (screen(lg)) {
      display: inline;
      float: right;

      .closing-section__figure__img {
        height: rem(260);
        margin: 0 rem(70) 0 rem(70);
        width: rem(200);
      }
    }
  }
}
