.concept-section {
  background-image: color(gradient-background);
  padding-top: rem(125);
  position: relative;

  .-lg-width {
    padding: 0;
  }
}

.concept-section__character-img {
  background-image: url('../../images/Florence_IconPrimary-01.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: rem(150);
  width: rem(140);
  position: absolute;
  right: calc(50vw - 88px);
  top: rem(-50);
}

.concept-section__intro {
  .sm-title,
  .lg-text,
  .sm-sans-serif-text {
    color: color(white);
    @include font-smoothing;
  }

  .lg-text {
    font-size: rem(30);
    margin-bottom: 0;
  }

  .sm-sans-serif-text {
    padding-top: rem(25);
  }
}

.concept-section__list {
  list-style: none;
  padding: 0;
  margin: 0;

  :before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    left: 50%;
    position: absolute;
  }
  
  .concept-section__list__item {
    background-color: color(white);
    padding: rem(20);
    margin-top: rem(120);
    position: relative;
    
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(7) {
      display: none;
    }

    @media (screen(lg)) {
      border-radius: rem(5);
  
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(7) {
        display: block;
      }
    }
  }
}

.--coffee:before {
  background-image: url('../../images/CoffeeMug_TheConcept-01.svg');
  height: rem(85);
  top: rem(-68);
  width: rem(90);
  margin-left: rem(-45);
}

.--good-job:before {
  background-image: url('../../images/Florence_GreatJob-01.svg');
  height: rem(85);
  top: rem(-85);
  width: rem(180);
  margin-left: rem(-90);
}

.concept-section__list__item__img {
  width: 80vw;
  display: block;
  margin: 0 auto;
  max-width: rem(340);
}
