.factors-section {
  background-color: color(mint-green);
  padding-top: rem(85);
  padding-bottom: rem(85);
  position: relative;
  z-index: 0;

  @media (screen(lg)) {
    padding-bottom: 0;
  }
}

.factors-section__diagram {
  background-image: url('../../images/splatter_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: rem(450);
  height: rem(315);
  left: 0;
  margin: auto;
  max-width: rem(350);
  min-width: rem(290);
  position: absolute;
  right: 0;
  z-index: -1;

  @media (screen(lg)) {
    background-size: rem(1000);
    height: rem(800);
    margin: rem(-40) auto auto;
    max-width: rem(1000);
  }

  .human-figure {
    background-image: url('../../images/human_figure.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: rem(325);
    left: 50%;
    position: absolute;
    top: 62%;
    transform: translate(-50%, -50%);
    width: rem(125);

    @media (screen(lg)) {
      height: rem(775);
      width: rem(300);
      top: 66%;
    }
  }

  div.-gear {
    top: 8%;
    left: 51%;
  }

  div.-heart {
    top: 32%;
    left: 47%;
  }

  div.-dollar {
    top: 53%;
    left: 55%;
  }

  div.-tally {
    top: 60%;
    left: 31%;
  }
}
