.factors-section {
  background-color: color(mint-green);
  padding-top: rem(85);
}

.factors-section__diagram {
  background-image: url('../../images/splatter_background.png');
  background-size: rem(450);
  background-repeat: no-repeat;
  background-position: center;
  height: rem(315);
  width: rem(350);
  position: relative;
  display: block;
  margin: auto;

  @media (screen(lg)) {
    height: rem(800);
    width: rem(1000);
    background-size: rem(1000);
    margin: rem(-40) auto auto auto;
  }

  .human-figure {
    background-image: url('../../images/human_figure.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: rem(325);
    left: 50%;
    position: absolute;
    top: 62%;
    transform: translate(-50%, -50%);
    width: rem(125);

    @media (screen(lg)) {
      height: rem(775);
      width: rem(300);
      top: 66%;
    }
  }

  .-gear {
    top: 8%;
    left: 51%;
  }

  .-heart {
    top: 32%;
    left: 47%;
  }

  .-dollar {
    top: 53%;
    left: 55%;
  }

  .-tally {
    top: 60%;
    left: 31%;
  }
}

.list-wrapper {
  margin-top: rem(-65);
}
