.question-section {
  background-color: color(mint-green);
  padding-bottom: rem(85);
  
  @media (screen(lg)) {
    margin-top: rem(-18);
    padding-bottom: rem(170);
  }
}

.wrapper-title__question {
  .lg-text {
    text-align: left;

    @media (screen(lg)) {
      text-align: center;
    }
  }
}

.question-section__mobile-phone {
  background-image: url('../../images/SmartPhone_Question-01.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  height: rem(220);
  margin: rem(-65) rem(-75) 0 0;
  width: rem(150);

  @media (screen(md)) {
    height: rem(300);
    width: rem(200);
  }

  @media (screen(lg)) {
    background: none;
    height: 0;
    width: 0;
  }

  &.--toggle-img {
    background: none;
    height: 0;
    width: 0;

    @media (screen(lg)) {
      background-image: url('../../images/SmartPhone_Question-01.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: rem(300);
      margin: rem(-15) rem(-75) 0 0;
      width: rem(200);
    }
  }
}

.question-section__content {
  .sm-sans-serif-text {
    padding-bottom: rem(18);
    text-align: center;

    @media (screen(lg)) {
      text-align: left;
    }
  }
}
