<section class="behind-scenes-section">

  <h2 class="sm-title">Behind The Scenes</h2>
  <p class="bg-intro">While Florence is only a concept, here are some things that will be helpful in making her come alive.</p>

  <ul class="behind-scenes-section__list">
    <li class="behind-scenes-section__list__item">
      <button class="behind-scenes-section__book"></button>
      <div>
        <h3>Medical Knowledge Bases</h3>
        <p>Side effects and drug interactions are currently available in services like <a href="https://www.epocrates.com/" target="_blank">Epocrates</a> and <a href="https://www.medscape.com/" target="_blank">Medscape</a>. Though designed for long-form reading, it could be pruned and adapted to fit messaging constraints.</p>
      </div>
    </li>

    <li class="behind-scenes-section__list__item">
      <button class="behind-scenes-section__gear"></button>
      <div>
        <h3>Algorithmic Content</h3>
        <p>Generating believable messages that don’t feel artificial or templated is key to maintaining the illusion. Tools like <a href="https://automatedinsights.com/wordsmith/" target="_blank">Automated Insights Wordsmith</a> hint to possibilities where content can be produced on the fly and personalized to each user.</p>
      </div>
    </li>

    <li class="behind-scenes-section__list__item">
      <button class="behind-scenes-section__comment"></button>
      <div>
        <h3>Natural Language Processing</h3>
        <p>Florence’s conversational style will encourage users to speak to her like a friend. Natural language processing, like those offered by <a href="https://www.youtube.com/watch?v=r7E1TJ1HtM0" target="_blank">IBM’s Watson</a>, will be needed to extract meaning and respond intelligently.</p>
      </div>
    </li>

    <li class="behind-scenes-section__list__item">
      <button class="behind-scenes-section__heart"></button>
      <div>
        <h3>Behavioral Modeling</h3>
        <p>Florence can generate many different messages which, unchecked, could make her a little too friendly. A system that learns the preferences of users will be helpful in tailoring which kinds of messages are sent, when, and in what frequency.</p>
      </div>
    </li>

    <li class="behind-scenes-section__list__item">
      <button class="behind-scenes-section__link"></button>
      <div>
        <h3>IOT Integrations</h3>
        <p>The emergence of connected adherence devices like <a href="http://www.pharmtech.com/proteus-extending-reach-digital-pill"
        target="_blank">Proteus pills</a> and <a href="https://www.youtube.com/watch?v=PeTAzSNNupk" target="_blank">SMRxT</a> bottles, combined with the popularity of health devices like <a href="https://www.fitbit.com/home" target="_blank">Fitbits</a> and <a href="https://www.getqardio.com/en" target="_blank">Qardio</a>, can provide a more rounded view of patients. Aggregating and synthesizing that information, perhaps using services like <a href="https://validic.com/" target="_blank">Validic</a>, would help Florence interact more appropriately.</p>
      </div>
    </li>
  </ul>

</section>