{% from 'macros/helpers.html' import sprite %}
<section class="behind-scenes-section">

  <div class="container -md-width">

    <h2 class="sm-title">Behind The Scenes</h2>
    <p class="lg-text">While Florence is only a concept, here are some things that will be helpful in making her come alive.</p>
  
  </div>
  
  <div class="behind-scenes-section__diagram">
    <div class="tag-list__icon -book">
      {{ sprite('book') }}
    </div>
    <div class="tag-list__icon -gear">
      {{ sprite('gear') }}
    </div>
    <div class="tag-list__icon -comment">
      {{ sprite('comment') }}
    </div>
    <div class="tag-list__icon -heart">
      {{ sprite('heart') }}
    </div>
    <div class="tag-list__icon -link">
      {{ sprite('link') }}
    </div>
  </div>
  
  <div class="container -xl-width">
    
    <ul class="tag-list">
      <li class="tag-list__item -alt">
        <button class="tag-list__btn -book" aria-label="Show Medical Knowledge Base Info">
          {{ sprite('book') }}
        </button>
        <div class="tag-list__text-wrapper">
          <h3 class="sm-list-title -orange">Medical Knowledge Bases</h3>
          <p class="sm-sans-serif-text">Side effects and drug interactions are currently available in services like <a href="https://www.epocrates.com/" target="_blank">Epocrates</a> and <a href="https://www.medscape.com/" target="_blank">Medscape</a>. Though designed for long-form reading, it could be pruned and adapted to fit messaging constraints.</p>
        </div>
      </li>

      <li class="tag-list__item">
        <button class="tag-list__btn -gear" aria-label="Show Algorithmic Content Info">
          {{ sprite('gear') }}
        </button>
        <div class="tag-list__text-wrapper">
          <h3 class="sm-list-title -orange">Algorithmic Content</h3>
          <p class="sm-sans-serif-text">Generating believable messages that don’t feel artificial or templated is key to maintaining the illusion. Tools like <a href="https://automatedinsights.com/wordsmith/" target="_blank">Automated Insights Wordsmith</a> hint to possibilities where content can be produced on the fly and personalized to each user.</p>
        </div>
      </li>

      <li class="tag-list__item -alt">
        <button class="tag-list__btn -comment" aria-label="Show Natural Language Processing Info">
          {{ sprite('comment') }}
        </button>
        <div class="tag-list__text-wrapper">
          <h3 class="sm-list-title -orange">Natural Language Processing</h3>
          <p class="sm-sans-serif-text">Florence’s conversational style will encourage users to speak to her like a friend. Natural language processing, like those offered by <a href="https://www.youtube.com/watch?v=r7E1TJ1HtM0" target="_blank">IBM’s Watson</a>, will be needed to extract meaning and respond intelligently.</p>
        </div>
      </li>

      <li class="tag-list__item">
        <button class="tag-list__btn -heart" aria-label="Show Behavioral Modeling Info">
          {{ sprite('heart') }}
        </button>
        <div class="tag-list__text-wrapper">
          <h3 class="sm-list-title -orange">Behavioral Modeling</h3>
          <p class="sm-sans-serif-text">Florence can generate many different messages which, unchecked, could make her a little too friendly. A system that learns the preferences of users will be helpful in tailoring which kinds of messages are sent, when, and in what frequency.</p>
        </div>
      </li>

      <li class="tag-list__item -alt">
        <button class="tag-list__btn -link" aria-label="Show IOT Integrations Info">
          {{ sprite('link') }}
        </button>
        <div class="tag-list__text-wrapper">
          <h3 class="sm-list-title -orange">IOT Integrations</h3>
          <p class="sm-sans-serif-text">The emergence of connected adherence devices like <a href="http://www.pharmtech.com/proteus-extending-reach-digital-pill"
          target="_blank">Proteus pills</a> and <a href="https://www.youtube.com/watch?v=PeTAzSNNupk" target="_blank">SMRxT</a> bottles, combined with the popularity of health devices like <a href="https://www.fitbit.com/home" target="_blank">Fitbits</a> and <a href="https://www.getqardio.com/en" target="_blank">Qardio</a>, can provide a more rounded view of patients. Aggregating and synthesizing that information, perhaps using services like <a href="https://validic.com/" target="_blank">Validic</a>, would help Florence interact more appropriately.</p>
        </div>
      </li>
    </ul>

  </div>

</section>
