<section class="concept-section">

  <div class="concept-section__intro">
    <h2 class="sm-title">The Concept</h2>
    <p class="bg-intro">Meet Florence</p>

    <p>Our explorations led to the concept of Florence — a personal companion that would help patients understand and manage their medication regimen. A chatbot at heart, patients would converse with her through text and picture messages.</p>
      
    <p>If developed, a simple, familiar interface would hide her powerful intelligence. Behind the scenes, machine learning and behavioral modeling would enable her to offer a tailored, human experience based on each patient’s needs.</p>
  </div>

  <ul class="concept-section__list">
    <li class="concept-section__item">
      <div class="concept-section__item__card">
        <h3>She Gets To Know You.</h3>
        <p></p>
      </div>
      <img src="" alt="">
    </li>

    <li class="concept-section__item">
      <div class="concept-section__item__card">
        <h3>She Keeps Track of Your Regimen.</h3>
        <p></p>
      </div>
      <img src="" alt="">
    </li>
    
    <li class="concept-section__item">
      <div class="concept-section__item__card">
        <h3>She Checks Up On You.</h3>
        <p></p>
      </div>
      <img src="" alt="">
    </li>
    
    <li class="concept-section__item">
      <div class="concept-section__item__card">
        <h3>She Helps You Remember.</h3>
        <p></p>
      </div>
      <img src="" alt="">
    </li>
    
    <li class="concept-section__item">
      <div class="concept-section__item__card">
        <h3>She Finds You Deals.</h3>
        <p></p>
      </div>
      <img src="" alt="">
    </li>
    
    <li class="concept-section__item">
      <div class="concept-section__item__card">
        <h3>She Cheers You On.</h3>
        <p></p>
      </div>
      <img src="" alt="">
    </li>
    
    <li class="concept-section__item">
      <div class="concept-section__item__card">
        <h3>She Keeps You Honest.</h3>
        <p></p>
      </div>
      <img src="" alt="">
    </li>
  </ul>

</section>