<section class="concept-section">

  <div class="container -md-width">

    <div class="concept-section__intro">
      <h2 class="sm-title">The Concept</h2>
      <p class="lg-text">Meet Florence</p>

      <p class="sm-sans-serif-text -white">Our explorations led to the concept of Florence — a personal companion that would help patients understand and manage their medication regimen. A chatbot at heart, patients would converse with her through text and picture messages.</p>
        
      <p class="sm-sans-serif-text -white">If developed, a simple, familiar interface would hide her powerful intelligence. Behind the scenes, machine learning and behavioral modeling would enable her to offer a tailored, human experience based on each patient’s needs.</p>
    </div>

  </div>

  <div class="container -lg-width">

    <ul class="concept-section__list">
      <li class="concept-section__list__item">
        <div class="concept-section__list__item__text">
          <h3 class="sm-list-title">She Gets To Know You.</h3>
          <p class="sm-serif-text">Florence strikes up a conversation, learning details about your life, health, goals, and preferences in an engaging, human way.</p>
          <p class="sm-serif-text">This conversation unfolds over time, making this feel less like twenty questions and more like the start of a relationship.</p>
        </div>
        <img class="concept-section__list__item__img" src="../../images/sms/Text_SMS_1.png" alt="Like in a new relationship, she first introduces herself. Hi! I'm Florence. What's your name?">
      </li>

      <li class="concept-section__list__item">
        <div class="concept-section__list__item__text">
          <h3 class="sm-list-title">She Keeps Track of Your Regimen.</h3>
          <p class="sm-serif-text">Florence helps you remember what to take and when. Image recognition makes adding your medication as easy as taking a picture.</p>
        </div>
        <img src="../../images/sms/Text_SMS_2.png" alt="Let's get started adding your medications, she says.">
      </li>
      
      <li class="concept-section__list__item">
        <div class="concept-section__list__item__text">
          <h3 class="sm-list-title">She Checks Up On You.</h3>
          <p class="sm-serif-text">As you start taking new medications, Florence will follow up to see if you’re experiencing side effects.</p>
          <p class="sm-serif-text">She can offer additional information to help you understand if your experience is typical—or if you should talk with your doctor.</p>
        </div>
        <img src="../../images/sms/Text_SMS_3.png" alt="Florence might reply with: It's been three days since you started taking Lisinopril. How're you feeling?">
      </li>
      
      <li class="concept-section__list__item">
        <div class="concept-section__list__item__text">
          <h3 class="sm-list-title">She Helps You Remember.</h3>
          <p class="sm-serif-text">With complex regimens, days often blur together. Florence will show you what you’ve taken today—and what’s left to take.</p>
        </div>
        <img src="../../images/sms/Text_SMS_4.png" alt="Here's what I have for you today, she says as she lists your medications for the day.">
      </li>
      
      <li class="concept-section__list__item">
        <div class="concept-section__list__item__text">
          <h3 class="sm-list-title">She Finds You Deals.</h3>
          <p class="sm-serif-text">Because Florence knows your regimen, she can find you ways to reduce the cost of care.</p>
        </div>
        <img src="../../images/sms/Text_SMS_5.png" alt="BTW, Walmart is now offering $4 generics">
      </li>
      
      <li class="concept-section__list__item">
        <div class="concept-section__list__item__text">
          <h3 class="sm-list-title">She Cheers You On.</h3>
          <p class="sm-serif-text">Florence can send you occasional notes of encouragement to keep you motivated.</p>
          <p class="sm-serif-text">For patients with asymptomatic conditions, this offers a sense of progress that might otherwise go unnoticed.</p>
        </div>
        <img src="../../images/sms/Text_SMS_6.png" alt="Florence might reply with: Hey Mike! Nice job, your cholesterol is down 20%.">
      </li>
      
      <li class="concept-section__list__item">
        <div class="concept-section__list__item__text">
          <h3 class="sm-list-title">She Keeps You Honest.</h3>
          <p class="sm-serif-text">If Florence notices you’re not staying on top of your plan, she can message family members or others in your support network.</p>
        </div>
        <img src="../../images/sms/Text_SMS_7.png" alt="Florence might reply with: Hi Kim, this is an automated message from FlorenceApp.io - Your brother Mike hasn't taken his meds in three days.">
      </li>
    </ul>

  </div>
  
</section>
