<footer class="footer">

  <div class="container -xs-width">

    <h2 class="sm-title">
      <div>An Exploration by</div>
      <img class="footer__logo" src="../../images/Viget-Logo-Pills.svg" alt="Viget">
    </h2>

    <p class="lg-text">At Viget, we’re continually thinking about how we can help shape and improve the experiences around us and make the world a better place—whether that’s through the technology solutions we deliver to our clients or through conceptual explorations like Florence.</p>

    <a class="footer__btn" href="https://www.viget.com/contact/">Contact Us</a>
    
  </div>

</footer>
