<footer class="footer">

  <h2 class="sm-title">
    <span>An Exploration by</span>
    <img class="footer__img" src="../../logos/Viget_logo.svg" alt="Viget">
  </h2>

  <p class="lg-text -footer">At Viget, we’re continually thinking about how we can help shape and improve the experiences around us and make the world a better place—whether that’s through the technology solutions we deliver to our clients or through conceptual explorations like Florence.</p>

  <button class="footer__btn">Contact Us</button>

</footer>
