<header class="header">

  <div class="header-wrapper">

    <div class="header__pill-img pill-top-left"></div>
    <div class="header__pill-img pill-top-right"></div>
    <div class="header__pill-img pill-bottom-right"></div>
    <div class="header__pill-img pill-bottom-left"></div>

    <h1 class="header__title">A Viget Exploration</h1>

    <img class="header__img" src="../../images/TitleTreatment-01.svg" alt="improving medical adherence">

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li><a href="#problem" data-module="SmoothScrolling">The Problem</a></li>
        <li><a href="#key-factors" data-module="SmoothScrolling">Key Factors</a></li>
        <li><a href="#question" data-module="SmoothScrolling">The Question</a></li>
        <li><a href="#solution" data-module="SmoothScrolling">The Solution</a></li>
      </ul>
    </nav>

  </div>

</header>
