<header class="header">

  <div class="wrapper--title">
    <h1 class="header__title">A Viget Exploration</h1>
  </div>

  <img class="header__img" src="../../images/TitleTreatment-01.svg" alt="improving medical adherence">

  <nav role="navigation" class="header__nav">
    <ul class="header__nav-list">
      <li><a href="#problem">The Problem</a></li>
      <li><a href="#key-factors">Key Factors</a></li>
      <li><a href="#question">The Question</a></li>
      <li><a href="#solution">The Solution</a></li>
    </ul>
  </nav>

</header>
