<section class="factors-section">
  
  <div class="container -md-width">

    <h2 class="sm-title">Why People Don't Adhere</h2>
    <p class="lg-text">A myriad of factors conspire to prevent people from sticking to their treatment programs. But a few are most telling.</p>
  
  </div>

  <div class="factors-section__diagram">
    <div class="human-figure"></div>
    <div class="tag-list__icon -gear">
      {{ sprite('gear') }}
    </div>
    <div class="tag-list__icon -heart">
      {{ sprite('heart') }}
    </div>
    <div class="tag-list__icon -dollar">
      {{ sprite('dollar') }}
    </div>
    <div class="tag-list__icon -tally">
      {{ sprite('tally') }}
    </div>
  </div>

  <div class="container -lg-width list-wrapper">

    <ul class="tag-list">
      <li class="tag-list__item">
        <button class="tag-list__btn -gear" aria-label="Show Comprehension Factors" >
          {{ sprite('gear') }}
        </button>
        <div class="tag-list__text-wrapper">
          <h3 class="sm-list-title -orange">Comprehension</h3>
          <p class="sm-sans-serif-text">“All of that medical jargon doesn’t make much sense to me but I don’t want to bother the doctor with my silly questions.”</p>
        </div>
      </li>

      <li class="tag-list__item -alt">
        <button class="tag-list__btn -heart" aria-label="Show Denial Factors">
          {{ sprite('heart') }}
        </button>
        <div class="tag-list__text-wrapper">
          <h3 class="sm-list-title -orange">Denial</h3>
          <p class="sm-sans-serif-text">“I feel just fine. I don’t know why that doctor thinks I’m sick. Why would I take medicine that I don’t need?”</p>
        </div>
      </li>

      <li class="tag-list__item">
        <button class="tag-list__btn -dollar" aria-label="Show Cost Factors">
          {{ sprite('dollar') }}
        </button>
        <div class="tag-list__text-wrapper">
          <h3 class="sm-list-title -orange">Cost</h3>
          <p class="sm-sans-serif-text">“I took my prescription to the pharmacy but they said it would cost several hundred dollars! I just couldn’t afford it.”</p>
        </div>
      </li>

      <li class="tag-list__item -alt">
        <button class="tag-list__btn -tally" aria-label="Show Complexity Factors">
          {{ sprite('tally') }}
        </button>
        <div class="tag-list__text-wrapper">
          <h3 class="sm-list-title -orange">Complexity</h3>
          <p class="sm-sans-serif-text">“Taking 15 medications every day is tough. Especially since they all have different instructions. How am I supposed to keep track of everything?”</p>
        </div>
      </li>
    </ul>

  </div>
    
</section>
