<section class="problem-section">

  <h2 class="screen-reader">The Problem</h2>

  <div class="container -lg-width">

    <p class="lg-text">Patients who don’t take medication as prescribed are at risk of worsening health, increased hospitalization, and a greater chance of mortality.</p>

    <p class="sm-sans-serif-text">Just in the U.S., non-adherence has been attributed to over $100 billion dollars in avoidable healthcare costs.<a href="https://www.bcbs.com/issues-indepth/why-does-healthcare-cost-so-much" target="_blank"><sup>1</sup></a> In developed countries, among patients with chronic illness, approximately 50% do not take medications as prescribed.<a href="https://www.ama-assn.org/delivering-care/patient-support-advocacy/8-reasons-patients-dont-take-their-medications" target="_blank"><sup>2</sup></a></p>

    <div class="problem-section__end">
      <div class="pill-bottles"></div>

      <div class="problem-section__end__quote">
        <p class="lg-text">“Increasing the effectiveness of adherence interventions might have a greater impact on the health of the population than any improvement in specific medical treatment.”</p>

        <p>World Health Organization, 2005 <a href="https://www.who.int/" target="_blank"><sup>3</sup></a></p>
      </div>

    </div>

  </div>

</section>
