<section class="question-section">

  <div class="container -md-width">

    <div class="wrapper-title__question">
      <h2 class="sm-title">The Question</h2>
      <div class="question-section__mobile-phone"></div>
      <p class="lg-text">How can technology help patients deal with these factors, so they adhere more accurately and consistently?</p>
    </div>

    <div class="question-section__content">
      <div class="question-section__mobile-phone --toggle-img"></div>
      <p class="sm-sans-serif-text">Access was our primary concern. Smartphone adoption is growing but 35% of the U.S. population still doesn’t own one.<a href="https://www.youtube.com/watch?v=lh8g17Ftl-s" target="_blank"><sup>4</sup></a>  Smartphones offer many additional features but impose a barrier of entry that seemed too high. Reliance on personal computers is also problematic, especially among disadvantaged patients.</p>
      <p class="sm-sans-serif-text">We narrowed our exploration to technology that was pervasive and familiar. Nearly 9 out of 10 American adults use a phone capable of texting.<a href="https://en.wikipedia.org/wiki/Text_messaging" target="_blank"><sup>5</sup></a> Furthermore, adherence studies using text reminders show promising results.<a href="https://support.apple.com/en-us/HT205890" target="_blank"><sup>6</sup></a> Texting shows the potential to address difficult issues around the world and across verticals. In Libya, the development of the world’s first SMS voter registration system led to 1.5 million voter registrations.<a href="https://www.worldatlas.com/af/ly/where-is-libya.html" target="_blank"><sup>7</sup></a></p>
      <p class="sm-sans-serif-text">Could texts be used not only to send reminders but also to build an ongoing two-way dialogue with a trusted health partner? Would this conversation help improve medication adherence?</p>
    </div>
  
  </div>
  
</section>
