@mixin font-smoothing-light-on-dark() {
    // on
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-smoothing-dark-on-light() {
    // off
    -webkit-font-smoothing : subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}
