.container {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 0 rem(18) 0 rem(18);
  position: relative;

  &.-lg-width {

    @media (screen(lg)) {
      width: rem(900);
      padding: 0 rem(80) 0 rem(80);
    }

    @media (screen(xl)) {
      width: rem(1030);
      padding: 0 rem(100) 0 rem(100);
    }

  }

  &.-md-width {
    max-width: rem(870);
  }

  &.-xl-width {
    max-width: rem(1190);
  }

  &.-xs-width {
    max-width: rem(610);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
