.sm-title {
  color: color(emerald-green);
  font-family: $base-med;
  font-size: rem(11);
  font-weight: lighter;
  letter-spacing: 0.12em;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;

  @media (screen(lg)) {
    font-size: rem(14);
    letter-spacing: 0.2em;
  }
}

.sm-list-title {
  font-family: $base-med;
  font-size: rem(13);
  font-weight: lighter;
  letter-spacing: 0.05em;
  line-height: 1.54;
  margin: rem(30) 0 0 0;
  text-align: center;
  text-transform: uppercase;

  &.-orange {
    color: color(orange);

    @media (screen(lg)) {
      font-size: rem(16);
      margin: 0 0 rem(3) 0;
    }
  }

  &.-blue {
    color: color(teal);
    font-size: rem(18);

    @media (screen(lg)) {
      font-size: rem(20);
      margin: 0;
      text-align: left;
    }
  }
}

.lg-title {
  color: color(emerald-green);
  font-family: $serif;
  font-size: rem(30);
  font-weight: lighter;
  line-height: rem(53);
  margin: 0;
  text-align: center;

  @media (screen(lg)) {
    font-size: rem(60);
  }
}
