.tag-list__icon,
.tag-list__btn {
  align-items: center;
  background-color: color(yellow);
  border-radius: 50%;
  border: solid rem(4.5) color(white);
  box-shadow: 0 0 0 rem(6) rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  position: absolute;

  svg {
    display: block;
    left: 50%;
    margin: auto;
    padding: 0;
    transition: .1s ease-in-out;
  }

  @media (screen(lg)) {
    border: none;
    box-shadow: none;
  }
}

.tag-list__btn {
  height: rem(36);
  padding: 0;
  top: rem(-12);
  width: rem(36);

  @media (screen(lg-max)) {
    pointer-events: none;
  }

  @media (screen(lg)) {
    bottom: 0;
    cursor: pointer;
    height: rem(75);
    left: 0;
    margin: auto;
    outline: none;
    top: 0;
    transform: translateX(-50%);
    transition: .1s ease-in-out;
    visibility: visible;
    width: rem(75);

    &:focus {
      box-shadow: 0 0 0 rem(6) color(focus-outline);
    }

    &:hover {
      height: calc(75px * 1.2);
      width: calc(75px * 1.2);

      svg {
        height: calc(45px * 1.2);
      }
    }
  }

  svg {
    height: rem(14);

    @media (screen(lg)) {
      height: rem(45);
    }
  }
}

.tag-list__icon {
  height: rem(34);
  width: rem(34);

  svg {
    height: rem(12);
  }

  @media (screen(lg)) {
    display: none;
  }
}
