a, sup {
  color: color(coral-pink);
}

sup {
  border-bottom: solid rem(1) color(coral-pink);
  font-family: $base;
  font-size: rem(11);
  vertical-align: top;
}

.problem-section a,
.question-section a {
  text-decoration: none;
}

.underline {
  background-image: linear-gradient(color(coral-pink), color(coral-pink));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  text-decoration: none;
  transition: background-size .3s;

  &:hover, 
  &:focus {
    background-size: 100% 2px;
  }
}



