.tag-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tag-list__item {
  align-items: center;
  background-color: color(white);
  border-radius: rem(4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto rem(30) auto;
  max-width: rem(500);
  padding: 0 rem(12) rem(24) rem(12);
  position: relative;
  visibility: visible;
  
  a {
    color: color(coral-pink);
  }

  @media (screen(lg)) {
    border-radius: rem(100) rem(10) rem(10) rem(100);
    padding: rem(32) rem(22) rem(32) rem(82);
    visibility: hidden;

    .-orange,
    .sm-sans-serif-text {
      text-align: left;
      line-height: 1.375;
    }

    &.-alt {
      border-radius: rem(10) rem(100) rem(100) rem(10);
      padding: rem(32) rem(82) rem(32) rem(22);

      .-orange,
      .sm-sans-serif-text {
        text-align: right;
      }
    }
  }
}

.tag-list__btn {
  @media (screen(lg-max)) {
    pointer-events: none;
  }

  @media (screen(lg)) {
    bottom: 0;
    left: 0;
    margin: auto;
    outline: none;
    cursor: pointer;
    top: 0;
    transform: translateX(-50%);
    transition: .1s ease-in-out;
    visibility: visible;

    &:focus {
      box-shadow: 0 0 0 rem(6) color(focus-outline);
    }

    &:hover {
      height: rem(80);
      width: rem(80);

      svg {
        height: rem(48);
      }
    }
  }
}

@media (screen(lg)) {
  [aria-expanded="false"] {
    border-radius: 50%;
    border: solid rem(4.5) color(white);
    box-shadow: 0 0 0 rem(6) rgba(255, 255, 255, 0.5);
  }
}

.factors-section {
  .tag-list {
    margin-top: rem(300);

    @media (screen(lg)) {
      margin-top: rem(70);
    }
  }

  @media (screen(lg)) {
    .tag-list__item {
      max-width: rem(360);
      margin: rem(-10) auto rem(-10) 50%;

      &.-alt {
        margin-right: 50%;
        margin-left: auto;

        .tag-list__btn {
          right: 0;
          left: auto;
          transform: translateX(50%);
        }
      }
     
      &:nth-child(1) {
        transform: translateX(rem(50));
      }

      &:nth-child(2) {
        transform: translateY(rem(-20));
      }

      &:nth-child(3) {
        transform: translate(rem(85), rem(-30));
      }

      &:nth-child(4) {
        transform: translate(-40%, rem(-150));
      }
    }
  }
}

.behind-scenes-section {
  .tag-list {
    padding-top: rem(300);

    @media (screen(lg)) {
      padding-top: rem(70);
    }
  }
  
  @media (screen(lg)) {
    .tag-list__item {
      width: rem(400);
      margin: rem(-100) auto rem(-10) 60%;
      transform: translateY(-40%);

      &.-alt {
        margin: rem(-75) 60% rem(-10) auto;
        transform: translateY(0);

        .tag-list__btn {
          right: 0;
          left: auto;
          transform: translateX(50%);
        }
      }      
      
      .-orange,
      .sm-sans-serif-text {
        font-size: rem(13);
      }

      &:nth-child(2) {
        transform: translateY(-15%);
      }

      &:nth-child(4) {
        transform: translateY(-5%);
      }
    }
  }

  @media (screen(xl)) {
    .tag-list__item {
      width: rem(500);
      margin: rem(-135) auto rem(-10) 60%;
      
      .-orange,
      .sm-sans-serif-text {
        font-size: rem(16);
      }

      &:nth-child(5) {
        transform: translateY(9%);
      }
    }
  }
}
