.tag-list {
  list-style-type: none;
  padding: 0;
}

.tag-list__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: color(white);
  border-radius: rem(4);
  margin: 0 0 rem(30) 0;
  position: relative;
  padding: 0 rem(12) rem(24) rem(12);

  a {
    color: color(coral-pink);
  }
}
