.lg-text {
  font-family: $serif;
  color: color(emerald-green);
  font-size: rem(18);
  margin-top: 0;
  text-align: center;

  @media (screen(lg)) {
    font-size: rem(28);
  }
}

.sm-sans-serif-text {
  color: color(warm-charcoal);
  font-size: rem(13);
  letter-spacing: 0.05em;
  line-height: 1.54;
  margin: 0;
  text-align: center;

  @media (screen(lg)) {
    font-size: rem(18);
    line-height: 1.78;
  }
}

.sm-serif-text {
  color: color(warm-charcoal);
  font-family: $serif;
  font-size: rem(14);
  line-height: 1.79;
  text-align: center;

  @media (screen(lg)) {
    font-size: rem(18);
    text-align: left;
    line-height: 1.78;
  }
}
