$colors: (
  cool-charcoal:        #252224,
  warm-charcoal:        #504949,
  deep-blue:            #184D66,
  emerald-green:        #0E5254,
  teal:                 #1793AD,
  mint-green:           #D3E7E2,
  grey:                 #E2EBE9,
  white:                #FFFFFF,
  yellow:               #F2C84D,
  orange:               #C06D3A,
  coral-pink:           #EA4446,
  gradient-background:  linear-gradient(#184D66 0%, #D3E7E2 100%)
);
