//fonts
$base:                  'Geomanist Regular', sans-serif;
$base-med:              'Geomanist Medium', sans-serif;
$serif:                 'Merriweather', serif;

$colors: (
  cool-charcoal:        #252224,
  warm-charcoal:        #504949,
  deep-blue:            #184D66,
  deep-dark-blue:       #19465B,
  emerald-green:        #0E5254,
  teal:                 #1793AD,
  mint-green:           #D3E7E2,
  grey:                 #E2EBE9,
  white:                #FFFFFF,
  yellow:               #F2C84D,
  orange:               #C06D3A,
  coral-pink:           #EA4446,
  urSuchAPill-dark-pink:#CF555E,
  urSuchAPill-pink:     #E75F69,
  gradient-background:  linear-gradient(#184D66 0%, #D3E7E2 100%),
  focus-outline:        rgba(78, 141, 241, 0.5)
);

$screens: (
  sm:                   'min-width: 31.25rem', // 500px
  sm-max:               'max-width: 31.25rem',

  md:                   'min-width: 45rem', // 720px
  md-max:               'max-wdith: 45rem',

  lg:                   'min-width: 60rem', // 960px
  lg-max:               'max-width: 60rem',

  xl:                   'min-width: 81.25rem', // 1300px
  xl-max:               'max-width: 81.25rem'
);
