@font-face {
  font-family: 'Geomanist Regular';
  src: url('../../fonts/geomanist-regular-webfont.woff');
}

@font-face {
  font-family: 'Geomanist Medium';
  src: url('../../fonts/geomanist-medium-webfont.woff');
}
